{% extends "base.html" %}
  
{% block content %}

<body>
    <h1>Welcome to BRIGHT: Open GRB Catalogue</h1>

Hello, and welcome to the Broad-band Repository for Investigating Gamma-ray burst Host Galaxies T-), or BRIGHT! BRIGHT is the largest and most informative catalogue of short- gamma-ray burst (SGRB) host galaxies. It includes over 60 SGRB hosts with their respective observational data, FITS images, stellar population properties, and several important quantities of the SGRB itself. BRIGHT is continuously updated as more SGRBs are detected and host associations are made.

<br>
<br>
We kindly ask that you cite the following sources if you use the data published on BRIGHT:

<br>
<br>
Fong et al. in prep.
<br>
Nugent et al. in prep.
<br>
Leja et al. 2017.
<br>
Speagle et al. 2020.
<br>
Conroy et al. 2009.
<br>
Conroy & Gunn 2010.
<br>

</body>


{% endblock %}
