{% extends "base.html" %}
  
{% block content %}

<body>
    <h1>Short Gamma-Ray Bursts</h1>
Gamma-ray bursts (GRBs) are some of the brightest explosions in space. Our group focuses on two types of GRBs: long and short. Long GRBs emit gamma-rays for over 2 seconds, whereas short GRBs emit gamma-rays for under 2 seconds. Both can be followed by "afterglows" that emit in the optical, radio, and X-rays. 

Short and long GRBs derive from different progeitors. There are a number of ways that we can observe how different they are, however we will focus on their environments. Long GRBs exclusively reside in star-forming galaxies and short GRBs are found in both star-forming and quiescent galaxies.
</body>


{% endblock %}
