<html>
<head>
<style>
p {
  border: 1px solid black;
  margin: 50px 100px;
  background-color: white;
}
</style>
</head>
<body>


{% extends "base.html" %}
  
{% block content %}

<body>
    <h1>Short Gamma-Ray Bursts</h1>

<p>Gamma-ray bursts (GRBs) are highly energetic and bright explosions that come in two classes: short and long. Short GRBs emit gamma-rays for $\lesssim 2$~seconds, whereas long GRBs emit gamma-rays for $\gtrsim 2$~seconds. Although this may seem like an arbitrary distrinction, short and long GRBs differ in their burst and afterglow energetics and timescales as well as their host galaxies, so we can be sure they derive from different progenitor systems.<\p>
  
<p>Short GRBs are associated with older, evolved progenitors due to their presence in early-type, quiescent galaxies, whereas long GRBs, exclusively found in star-forming, late-type galaxies, are associated with a younger progenitor. Short GRBs are also found to be consistently offset from their hosts, implying that their progenitors undergo a significant migration prior to explosion. In combination with their large energies of $10^{49}$~erg, this suggested that short GRBs formed from compact object mergers, specifically binary neutron star (BNS) or neutron star-black hole (NSBH) mergers.<\p>

<p>This progenitor model, however, remained mostly inconclusive until August 17, 2017, when the first BNS merger was detected through its gravitational wave (GW) radiation and was followed shortly by a short GRB. This multi-messenger event, GW170817, was revolutionary for astronomy, as it confirmed short GRBs have a common origin with BNS mergers and that BNS mergers are responsible for at least some heavy elements in the universe. To date, GW170817 remains the only GW event with a known EM counterpart and is generally regarded as a once-in-a-decade event. In contrast, there are $\sim100$ short GRBs detected out to $z \sim 2.0$. <\p>
  
 
<h1>The Importance of Host Galaxy Environments in Short GRB Studies</h1>

<p>The robust associations of short GRBs to host galaxies are key to unlocking the scientific potential of a given event as they provide precise redshifts and properties of the environment that highlight the necessary conditions in which binaries can form and merge including their timescales. Short GRBs have now been found in both star-forming and quiescent galaxies, which suggests a wide range of merger timescales for their BNS progenitors. Locations of the transient can provide another key constraint. For instance, short GRBs are often found highly offset from their host galaxies, suggesting that they must migrate from their birth place and/or experience a large merger ``kicks" to overcome the gravitational potential of their hosts.<\p> 

<p>Host galaxies provide a wealth of information on stellar population properties such as stellar population age, stellar mass, metallicity, and star formation rate. These in turn give insight into properties of the progenitor, including how delay times, or time between formation and merger, evolve with redshift and how compact object systems track the star formation and stellar mass in the universe,  which are difficult to constrain through other methods. Thanks in large part to BRIGHT, about 60 of the $\sim 100$ observed short GRBs have robust host associations. Thus, we have a large sample of galaxies from which we can deduce binary properties.<\p>
  
</body>


{% endblock %}
