html, body {
    background: #ECF1FF;
    color: #4e2a84;
    font: 400 18px/1.5 'Avenir', Helvetica, sans-serif;
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

table { 
    width:100%;
    font: 400 20px/1.5 'Avenir', Helvetica, sans-serif;
    text-align:center;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.single_column {
  float: left;
  width: 100.0%;
  padding: 10px;
}
.column_top {
  float: left;
  width: 33.0%;
  padding: 10px;
}

.column_individual_page_images {
  float: left;
  width: 45.0%;
  padding: 0px;
}

.column_individual_page_table {
  float: left;
  width: 40.0%;
  padding: 40px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 


header {
  background-color: #401f68;
  padding: 1em;
}

header > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
// max-width: 1200px;
  margin: 0 auto;
}

header > nav > li {
  display: inline-block;
}

header > nav > li > a {
  color: white;
  text-decoration: none;
}

header > nav > li > a.active {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

header > nav > li > a:focus, header > nav > li > a:hover {
  text-decoration: underline;
}

header > nav > li > a:active, header > nav > li > a:visited {
  color: white;
}

main {
  max-width: 1500px;
  //margin: 0 auto;
  //padding: 1em;
}

form label {
  display: block;
  margin: 1em 0
}

legend {
  padding-left: 32px;
  padding-right: 2px;
  border: none;
  font-size : xx-large;
}

label {
  color : black;
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}

.img-container {
    text-align: center;
    display: block;
}

@media screen and (max-width: 1200px) {
  header > nav {
    flex-direction: column;
  }
}
