{% extends "base.html" %}
  
{% block content %}

<h1>{{ grb.grb_name }}</h1>

<li>GRB NAME: {{ grb.grb_name |safe }}</li>
<li>GRB COMMENTS: {{ grb.comments |safe }}</li>
<li>RA: {{ grb.ra |safe }}<li>
<li>RA: {{ grb.dec |safe }}<li>
<li>RA: {{ grb.z |safe }}<li>
<li>RA: {{ grb.z_err_upper |safe }}<li>
<li>RA: {{ grb.z_err_lower |safe }}<li>
<li>RA: {{ grb.mass |safe }}<li>
<li>RA: {{ grb.mass_err_upper |safe }}<li>
<li>RA: {{ grb.mass_err_lower |safe }}<li>
<li>RA: {{ grb.age |safe }}<li>
<li>RA: {{ grb.age_err_upper |safe }}<li>
<li>RA: {{ grb.age_err_lower |safe }}<li>
<li>RA: {{ grb.logzsol |safe }}<li>
<li>RA: {{ grb.logzsol_err_upper |safe }}<li>
<li>LOGZSOL: {{ grb.logzsol |safe }}<li>
<li>SFR: {{ grb.sfr |safe }}<li>
<li>SFR_ERR_UPPER: {{ grb.sfr_err_upper |safe }}<li>
<li>SFR_ERR_LOWER: {{ grb.sfr_err_lower |safe }}<li>
<li>DUST1: {{ grb.dust1 |safe }}<li>
<li>DUST1_ERR_UPPER: {{ grb.dust1_err_upper |safe }}<li>
<li>DUST1_ERR_LOWER: {{ grb.dust1_err_lower |safe }}<li>
<li>DUST2: {{ grb.dust2 |safe }}<li>
<li>DUST2_ERR_UPPER: {{ grb.dust2_err_upper |safe }}<li>
<li>DUST2_ERR_LOWER: {{ grb.dust2_err_lower |safe }}<li>
<li>COMMENTS: {{ grb.comments |safe }}<li>
<li>PHOT: {{ grb.phot |safe }}<li>
<li>PHOT_ERR_UPPER: {{ grb.phot_err_upper |safe }}<li>
<li>PHOT_ERR_LOWER: {{ grb.phot_err_lower |safe }}<li>
<li>FILTERS: {{ grb.filters |safe }}<li>
<li>CORNERPLOT: <img src=/media/{{ grb.spectrogram }}></li>
{% endblock %}
