{% extends "base.html" %}
  
{% block content %}

<h1>{{ grb.grb_name }}</h1>

<div class="row">
    <div class="column">
        <h2 style="float: left"> <a href="/media/{{ grb.h5 }}"><u>Download Nested Sampling Samples</u></a> </h2>
        <img src=/media/{{ grb.sed }}  alt="SED" style="width:100%">
    </div>
    <div class="column">
        <h2 style="float: left"> <a href="/media/{{ grb.json_metadata }}"><u>Download Metadata</u></a> </h2>
        <img src=/media/{{ grb.corner }} alt="corner" style="width:100%">
    </div>
</div> 

<div class="row">
    <div class="column">
        <h2>Metadata</h2>
        <table border="1" class="table table-striped" id="samples">
            <thead>
                <th>Attribute</th>
                <th>Values</th>
            </thead>
            <tbody>

                <tr style="text-align: left;">
                    <td>$$\textrm{GRB name}$$</td>
                    <td><a href="{% url 'grbs:detail' grb.id %}">{{ grb.grb_name }}</a></td>
                </tr>
                <tr style="text-align: left;">
                    <td>$$\textrm{Host RA}$$</td>
                    <td> {{ grb.ra_host }} </td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{Host Dec}$$</td>
                    <td> {{ grb.dec_host }} </td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$z$$</td>
                    <td> \({{grb.z}}^{ {{ grb.z_err_upper }} }_{ {{ grb.z_err_lower }} }\)</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$T_{90}$$</td>
                    <td> \({{grb.t90}}^{ {{ grb.t90_err_upper }} }_{ {{ grb.t90_err_lower }} }\)</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{log}(M / M_{\odot})$$</td>
                    <td> \({{grb.mass}}^{ {{ grb.mass_err_upper }} }_{ {{ grb.mass_err_lower }} }\)</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$t_{m}$$</td>
                    <td> \({{grb.age}}^{ {{ grb.age_err_upper }} }_{ {{ grb.age_err_lower }} }\)</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\log(Z/Z_{\odot})$$</td>
                    <td> \({{grb.logzsol}}^{ {{ grb.logzsol_err_upper }} }_{ {{ grb.logzsol_err_lower }} }\)</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$A_{V1}$$</td>
                    <td> \({{grb.dust1}}^{ {{ grb.dust1_err_upper }} }_{ {{ grb.dust1_err_lower }} }\)</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$A_{V2}$$</td>
                    <td> \({{grb.dust2}}^{ {{ grb.dust2_err_upper }} }_{ {{ grb.dust2_err_lower }} }\)</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{SFR} (M_{\odot} \times yr^{-1})$$</td>
                    <td> \({{grb.sfr}}^{ {{ grb.sfr_err_upper }} }_{ {{ grb.sfr_err_lower }} }\)</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{model photometry}$$</td>
                    <td> <a href="/media/{{ grb.mod_phot }}"><u>Download CSV</u></a></td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{model spectroscopy}$$</td>
                    <td> <a href="/media/{{ grb.mod_spec }}"><u>Download CSV</u></a></td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{observed spectroscopy}$$</td>
                    <td> <a href="/media/{{ grb.spec }}"><u>Download CSV</u></a></td>
                </tr>


            </tbody>
        </table>

    </div>
    <div class="column">
        <h2> Color Composite </h2>
        <img src=/media/{{ grb.color }} width="150" height="150">
    </div>
</div>
</body>
</html>

{% endblock %}
