{% extends "base.html" %}
  
{% block content %}

<a href="{% url 'grbs:add_grb' %}">Consider Adding a GRB</a>

<br>
<br>

<table border="1" class="table table-striped" id="samples">
    <thead>
        <tr style="text-align: right;">
              <th>grb_name</th>
              <th>RA</th>
              <th>dec</th>
              <th>redshift</th>
              <th>t_90</th>
              <th>mass</th>
              <th>age</th>
              <th>logzsol</th>
              <th>dust1</th>
              <th>dust2</th>
              <th>SFR</th>
        </tr>
    </thead>
    <tbody>
        {% for grb in alphabetical_grbs_list %}
            <tr>
                <td><a href="{% url 'grbs:detail' grb.id %}">{{ grb.grb_name }}</a></td>
                <td> {{ grb.ra_host }} </td>
                <td> {{ grb.dec_host }} </td>
                <td> \({{grb.z}}^{ {{ grb.z_err_upper }} }_{ {{ grb.z_err_lower }} }\)</td>
                <td> \({{grb.t90}}^{ {{ grb.t90_err_upper }} }_{ {{ grb.t90_err_lower }} }\)</td>
                <td> \({{grb.mass}}^{ {{ grb.mass_err_upper }} }_{ {{ grb.mass_err_lower }} }\)</td>
                <td> \({{grb.age}}^{ {{ grb.age_err_upper }} }_{ {{ grb.age_err_lower }} }\)</td>
                <td> \({{grb.logzsol}}^{ {{ grb.logzsol_err_upper }} }_{ {{ grb.logzsol_err_lower }} }\)</td>
                <td> \({{grb.dust1}}^{ {{ grb.dust1_err_upper }} }_{ {{ grb.dust1_err_lower }} }\)</td>
                <td> \({{grb.dust2}}^{ {{ grb.dust2_err_upper }} }_{ {{ grb.dust2_err_lower }} }\)</td>

                <td>{{grb.gas_logu}}</td>
                <td> \({{grb.sfr}}^{ {{ grb.sfr_err_upper }} }_{ {{ grb.sfr_err_lower }} }\)</td>

                </tr>
        {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function() {
        $("#samples").fancyTable({
            sortColumn:0,
            pagination: true,
            perPage:10,
            globalSearch:true
        });		
    });
</script>

</body>
</html>

{% endblock %}
