{% extends "base.html" %}

{% block content %}

<h1>Welcome to BRIGHT: Open Short GRB Catalogue</h1>
<div class="single_column">
<table border="1" class="table" id="grb_table" width="80%">
    <thead>
        <tr style="text-align: right;">
              <th></th>
              <th>$$\textrm{GRB name}$$</th>
              <th>$$\textrm{Host RA}$$</th>
              <th>$$\textrm{Host Dec}$$</th>
              <th>$$z$$</th>
              <th>$$T_{90}$$</th>
              <th>$$\textrm{f}_{\gamma} \textrm{ } (10^{-8} \textrm{erg} \times \textrm{cm}^{-2})$$</th>
              <th>$$\textrm{Optical Detection}$$</th>
              <th>$$\textrm{X-Ray Detection}$$</th>
              <th>$$\textrm{Radio Detection}$$</th>
              <th>$$\textrm{Offset (kpc)}$$</th>
              <th>$$\textrm{log}(M/M_{\odot})$$</th>
              <th>$$t_{m}$$</th>
              <th>$$\log(Z/Z_{\odot})$$</th>
              <th>$$A_{V}$$</th>
              <th>$$\textrm{SFR} (M_{\odot} \times yr^{-1})$$</th>
              <th>$$\textrm{Download}$$</th>
              <th>$$\small \textrm{GRB name}$$</th>
        </tr>
    </thead>
    <tbody>
        {% for grb in alphabetical_grbs_list %}
            <tr class="grb">
                <td><input type="checkbox" id={{grb.id }}/></td>
                <td><a href="{% url 'grbs:detail' grb.id %}"><img width="150" height="150" class="thumbImage" style="display:block" src=/media/{{ grb.color }}></a><a href="{% url 'grbs:detail' grb.id %}">{{ grb.grb_name }}</a></td>
                <td> {{ grb.ra_host }}</td>
                <td> {{ grb.dec_host }}</td>
                <td> {{grb.z}} </td>
                <td> {{grb.t90}} </td>
                <td> {{grb.fluence}} </td>
                <td> {{grb.opt}} </td>
                <td> {{grb.xray}} </td>
                <td> {{grb.radio}} </td>
                <td> {{grb.offset_kpc}} </td>
                <td> {{grb.mass}} </td>
                <td> {{grb.age}} </td>
                <td> {{grb.logzsol}} </td>
                <td> {{grb.dust2}} </td>
                <td> {{grb.sfr}} </td>
                <td><a href="/media/{{ grb.json_metadata }}">{{grb.id }}</a></td>
                <td> {{grb.grb_name}} </td>
                </tr>
        {% endfor %}
    </tbody>
    <tfoot >
        <tr style="text-align: center;">
              <th></th>
              <th>$$\small \textrm{GRB name}$$</th>
              <th>$$\textrm{Host RA}$$</th>
              <th>$$\textrm{Host Dec}$$</th>
              <th>$$z$$</th>
              <th>$$T_{90}$$</th>
              <th>$$\textrm{Fluence} \textrm{ } (10^{-8} \textrm{erg} \times \textrm{cm}^{-2})$$</th>
              <th>$$\textrm{Optical Detection}$$</th>
              <th>$$\textrm{X-Ray Detection}$$</th>
              <th>$$\textrm{Radio Detection}$$</th>
              <th>$$\textrm{Offset (kpc)}$$</th>
              <th>$$\textrm{log}(M/M_{\odot})$$</th>
              <th>$$t_{m}$$</th>
              <th>$$\log(Z/Z_{\odot})$$</th>
              <th>$$A_{V}$$</th>
              <th>$$\textrm{SFR} (M_{\odot} \times yr^{-1})$$</th>
              <th></th>
              <th>$$\small \textrm{GRB name}$$</th>
        </tr>
    </tfoot>
</table>
</div>

<script type="text/javascript">
function download_selected_all(){
    var url = '/bulkdownload-all?grbs=';
    $("#grb_table").find('tr.grb').each(function() {
            if ($(this).find("input:checkbox").prop('checked')) {
                url = url + $(this).find("td").eq(16).text() + ","
            }
    });
    window.open(url);
};
</script>

<script type="text/javascript">
function download_selected_samples(){
    var url = '/bulkdownload-samples?grbs=';
    $("#grb_table").find('tr.grb').each(function() {
            if ($(this).find("input:checkbox").prop('checked')) {
                url = url + $(this).find("td").eq(16).text() + ","
            }
    });
    window.open(url);
};
</script>

<script>
$(document).ready(function() {
  $('#grb_table tfoot th').each( function () {
    var title = $(this).text();
    if ( title !== '' ) {
        $(this).html( '<input size="5" type="text" placeholder="Search" />' );
    }
  } );


  var table = $('#grb_table').DataTable( {
    initComplete: function () {
        // Apply the search
        this.api().columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    },
    autoWidth: true,
    dom: 'Blfrtip',
    buttons: [
            {
                text: 'Select all',
                action: function () {
                      table.rows().every(function(){
                        $(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked', true);
                      });
                }
            },
            {
                text: 'Select none',
                action: function () {
                      table.rows().every(function(){
                        $(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked', false);
                      });
                }
            },
            {
                text: 'Download All Data Products',
                action: function () {
                      var url = '/bulkdownload-all?grbs=';
                      table.rows().every(function(){
                        if($(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked')){
                            var grb_id_string = $(this.node()).find('td:eq(16)').text();
                            url = url + grb_id_string + ","
                        }
                      })
                      console.log(url);
                      window.open(url);
                }
            },
            {
                text: 'Download Only Samples',
                action: function () {
                      var url = '/bulkdownload-samples?grbs=';
                      table.rows().every(function(){
                        if($(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked')){
                            var grb_id_string = $(this.node()).find('td:eq(16)').text();
                            url = url + grb_id_string + ","
                        }
                      })
                      console.log(url);
                      window.open(url);
                }
            },
            {
                text: 'Download Only JSON Metadata',
                action: function () {
                      var url = '/bulkdownload-json?grbs=';
                      table.rows().every(function(){
                        if($(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked')){
                            var grb_id_string = $(this.node()).find('td:eq(16)').text();
                            url = url + grb_id_string + ","
                        }
                      })
                      console.log(url);
                      window.open(url);
                }
            },
            {
                extend: 'csv',
                extension: 'grb_table_data.csv',
                text: 'Download GRB Table Data to CSV',
                exportOptions: {
                      columns: [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17 ]
                }
            },
            {
                extend: 'excelHtml5',
                extension: 'grb_table_data.xlsx',
                text: 'Download GRB Table Data to Excel',
                exportOptions: {
                      columns: [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17 ]
                }
            },
        ]
  } );
} );
</script>

</body>
</html>

{% endblock %}
