{% extends "base.html" %}

{% block content %}

<a href="{% url 'grbs:add_grb' %}">Consider Adding a GRB</a>

<br>
<br>

<input type="button" value="Select/Deselect All" onclick="checkboxes()">
<input type="button" value="Download All Data Products" onclick="download_selected_all()">
<input type="button" value="Download Only JSON Metadata" onclick="download_selected_json()">
<input type="button" value="Download Only Samples" onclick="download_selected_samples()">

<br>
<br>
<div class="single_column">
<table border="1" class="table table-striped" id="grb_table" width="80%">
    <thead>
        <tr style="text-align: right;">
              <th></th>
              <th>$$\textrm{GRB name}$$</th>
              <th>$$\textrm{Host RA}$$</th>
              <th>$$\textrm{Host Dec}$$</th>
              <th>$$z$$</th>
              <th>$$T_{90}$$</th>
              <th>$$\textrm{Fluence} \textrm{ } (10^{-8} \textrm{erg} \times \textrm{cm}^{-2})$$</th>
              <th>$$\textrm{Optical Detection}$$</th>
              <th>$$\textrm{X-Ray Detection}$$</th>
              <th>$$\textrm{Radio Detection}$$</th>
              <th>$$\textrm{Offset (kpc)}$$</th>
              <th>$$\textrm{log}(M/M_{\odot})$$</th>
              <th>$$t_{m}$$</th>
              <th>$$\log(Z/Z_{\odot})$$</th>
              <th>$$A_{V}$$</th>
              <th>$$\textrm{SFR} (M_{\odot} \times yr^{-1})$$</th>
              <th>$$\textrm{Download}$$</th>
        </tr>
    </thead>
    <tbody>
        {% for grb in alphabetical_grbs_list %}
            <tr class="grb">
                <td><input type="checkbox" id={{grb.id }}/></td>
                <td><img width="100" height="100" class="thumbImage" style="display:block" src=/media/{{ grb.color }}><a href="{% url 'grbs:detail' grb.id %}">$$ \Large \textrm { {{ grb.grb_name }} }$$</a></td>
                <td> $$ \Large \textrm{ {{ grb.ra_host }} }$$</td>
                <td> $$ \Large \textrm{ {{ grb.dec_host }} }$$</td>
                <td> $$ \Large {{grb.z}} $$</td>
                <td> $$ \Large {{grb.t90}} $$</td>
                <td> $$ \Large {{grb.fluence}} $$</td>
                <td> $$ \Large \textrm{ {{grb.opt}} }$$</td>
                <td> $$ \Large \textrm{ {{grb.xray}} }$$</td>
                <td> $$ \Large \textrm{ {{grb.radio}} }$$</td>
                <td> $$ \Large {{grb.offset}} $$</td>
                <td> $$ \Large {{grb.mass}} $$</td>
                <td> $$ \Large {{grb.age}} $$</td>
                <td> $$ \Large {{grb.logzsol}} $$</td>
                <td> $$ \Large {{grb.dust2}} $$</td>
                <td> $$ \Large {{grb.sfr}} $$</td>
                <td><a href="/media/{{ grb.json_metadata }}">$$ {{grb.id }} $$</a></td>
                </tr>
        {% endfor %}
    </tbody>
</table>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $("#grb_table").fancyTable({
            globalSearchExcludeColumns: [1], // Exclude 2nd and 5th column.
            sortColumn:0,
            pagination: true,
            perPage:10,
            globalSearch:false,
            inputStyle: 'color:purple;'
        });
    });
</script>

<script type="text/javascript">
function checkboxes(){
    if ($("#grb_table").find('td input:checkbox').prop('checked')) {
      $("#grb_table").find('td input:checkbox').prop('checked', false)
    } else {
      $("#grb_table").find('td input:checkbox').prop('checked', true)
    }
};
</script>

<script type="text/javascript">
function download_selected_all(){
    var url = '/grbs/bulkdownload-all?grbs=';
    $("#grb_table").find('tr.grb').each(function() {
            if ($(this).find("input:checkbox").prop('checked')) {
                url = url + $(this).find("td").eq(16).text() + ","
            }
    });
    window.open(url);
};
</script>

<script type="text/javascript">
function download_selected_json(){
    var url = '/grbs/bulkdownload-json?grbs=';
    $("#grb_table").find('tr.grb').each(function() {
            if ($(this).find("input:checkbox").prop('checked')) {
                url = url + $(this).find("td").eq(16).text() + ","
            }
    });
    window.open(url);
};
</script>

<script type="text/javascript">
function download_selected_samples(){
    var url = '/grbs/bulkdownload-samples?grbs=';
    $("#grb_table").find('tr.grb').each(function() {
            if ($(this).find("input:checkbox").prop('checked')) {
                url = url + $(this).find("td").eq(16).text() + ","
            }
    });
    window.open(url);
};
</script>


    <!--
<script type="text/javascript">
 $(document).ready(function(){
   $("#samples").find('tr.grb').mouseover(function(){
        // Put logic on show
        $('.thumbImage').prop("style", "display:block");
   }).mouseout(function(){
        // Put logic on hide
        $('.thumbImage').prop("style", "display:none");
   });
 });
</script>
    -->


</body>
</html>

{% endblock %}
