{% extends "base.html" %}

{% block content %}

<h1>Welcome to BRIGHT: Open Long GRB Catalogue</h1>
<div class="single_column">
<table border="1" class="table" id="grb_table" width="80%">
    <thead>
        <tr style="text-align: right;">
              <th></th>
              <th>$$\textrm{GRB name}$$</th>
              <th>$$\textrm{Host RA}$$</th>
              <th>$$\textrm{Host Dec}$$</th>
              <th>$$z$$</th>
              <th>$$T_{90}$$</th>
              <th>$$\textrm{Fluence} \textrm{ } (10^{-8} \textrm{erg} \times \textrm{cm}^{-2})$$</th>
              <th>$$\textrm{Optical Detection}$$</th>
              <th>$$\textrm{X-Ray Detection}$$</th>
              <th>$$\textrm{Radio Detection}$$</th>
              <th>$$\textrm{Offset (kpc)}$$</th>
              <th>$$\textrm{Host Normalized Offset}$$</th>
              <th>$$\textrm{Fractional Flux}$$</th>
              <th>$$\textrm{Download}$$</th>
              <th>$$\small \textrm{GRB name}$$</th>
        </tr>
    </thead>
    <tbody>
        {% for grb in alphabetical_grbs_list %}
            <tr class="grb">
                <td><input type="checkbox" id={{grb.id }}/></td>
                <td><a href="{% url 'grbs:detail' grb.id %}"><img width="100" height="100" class="thumbImage" style="display:block" src=/media/{{ grb.color }}></a><a href="{% url 'grbs:detail' grb.id %}">$$ \Large \textrm { {{ grb.grb_name }} }$$</a></td>
                <td> $$ \Large \textrm{ {{ grb.ra_host }} }$$</td>
                <td> $$ \Large \textrm{ {{ grb.dec_host }} }$$</td>
                <td> $$ \Large {{grb.z}} $$</td>
                <td> $$ \Large {{grb.t90}} $$</td>
                <td> $$ \Large {{grb.fluence}} $$</td>
                <td> $$ \Large \textrm{ {{grb.opt}} }$$</td>
                <td> $$ \Large \textrm{ {{grb.xray}} }$$</td>
                <td> $$ \Large \textrm{ {{grb.radio}} }$$</td>
                <td> $$ \Large {{grb.offset_kpc}} $$</td>
                <td> $$ \Large {{grb.hnorm_offset}} $$</td>
                <td> $$ \Large {{grb.frac_flux}} $$</td>
                <td><a href="/media/{{ grb.json_metadata }}">$$ {{grb.id }} $$</a></td>
                <td> $$ \Large \textrm{ {{grb.grb_name}} }$$</td>
                </tr>
        {% endfor %}
    </tbody>
    <tfoot >
        <tr style="text-align: center;">
              <th></th>
              <th>$$\small \textrm{GRB name}$$</th>
              <th>$$\textrm{Host RA}$$</th>
              <th>$$\textrm{Host Dec}$$</th>
              <th>$$z$$</th>
              <th>$$T_{90}$$</th>
              <th>$$\textrm{Fluence} \textrm{ } (10^{-8} \textrm{erg} \times \textrm{cm}^{-2})$$</th>
              <th>$$\textrm{Optical Detection}$$</th>
              <th>$$\textrm{X-Ray Detection}$$</th>
              <th>$$\textrm{Radio Detection}$$</th>
              <th>$$\textrm{Offset (kpc)}$$</th>
              <th>$$\textrm{Host Normalized Offset}$$</th>
              <th>$$\textrm{Fractional Flux}$$</th>
              <th></th>
              <th>$$\small \textrm{GRB name}$$</th>
        </tr>
    </tfoot>
</table>
</div>

<script type="text/javascript">
function download_selected_all(){
    var url = '/bulkdownload-all?grbs=';
    $("#grb_table").find('tr.grb').each(function() {
            if ($(this).find("input:checkbox").prop('checked')) {
                url = url + $(this).find("td").eq(16).text() + ","
            }
    });
    window.open(url);
};
</script>

<script type="text/javascript">
function download_selected_samples(){
    var url = '/bulkdownload-samples?grbs=';
    $("#grb_table").find('tr.grb').each(function() {
            if ($(this).find("input:checkbox").prop('checked')) {
                url = url + $(this).find("td").eq(16).text() + ","
            }
    });
    window.open(url);
};
</script>

<script>
$(document).ready(function() {
  $('#grb_table tfoot th').each( function () {
    var title = $(this).text();
    if ( title !== '' ) {
        $(this).html( '<input size="5" type="text" placeholder="Search" />' );
    }
  } );


  var table = $('#grb_table').DataTable( {
    initComplete: function () {
        // Apply the search
        this.api().columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    },
    autoWidth: true,
    dom: 'Blfrtip',
    buttons: [
            {
                text: 'Select all',
                action: function () {
                      table.rows().every(function(){
                        $(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked', true);
                      });
                }
            },
            {
                text: 'Select none',
                action: function () {
                      table.rows().every(function(){
                        $(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked', false);
                      });
                }
            },
            {
                text: 'Download All Data Products',
                action: function () {
                      var url = '/bulkdownload-all?grbs=';
                      table.rows().every(function(){
                        if($(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked')){
                            var grb_id_string = $(this.node()).find('td:eq(16)').text();
                            url = url + grb_id_string + ","
                        }
                      })
                      console.log(url);
                      window.open(url);
                }
            },
            {
                text: 'Download Only Samples',
                action: function () {
                      var url = '/bulkdownload-samples?grbs=';
                      table.rows().every(function(){
                        if($(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked')){
                            var grb_id_string = $(this.node()).find('td:eq(16)').text();
                            url = url + grb_id_string + ","
                        }
                      })
                      console.log(url);
                      window.open(url);
                }
            },
            {
                text: 'Download Only JSON Metadata',
                action: function () {
                      var url = '/bulkdownload-json?grbs=';
                      table.rows().every(function(){
                        if($(this.node()).find('td:eq(0) [type="checkbox"]').prop('checked')){
                            var grb_id_string = $(this.node()).find('td:eq(16)').text();
                            url = url + grb_id_string + ","
                        }
                      })
                      console.log(url);
                      window.open(url);
                }
            },
            {
                extend: 'csv',
                extension: 'grb_table_data.csv',
                text: 'Download GRB Table Data to CSV',
                exportOptions: {
                      columns: [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17 ]
                }
            },
            {
                extend: 'excelHtml5',
                extension: 'grb_table_data.xlsx',
                text: 'Download GRB Table Data to Excel',
                exportOptions: {
                      columns: [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17 ]
                }
            },
        ]
  } );
} );
</script>

</body>
</html>

{% endblock %}
