{% extends "base.html" %}

{% block content %}

<main style="background: white;">

<h1>{{ grb.grb_name }}</h1>
<div class="row" style="border-bottom-style: solid; width: 100%;overflow: auto">
    <div class="column_top" id=color>
        <img src=/media/{{ grb.color }} width="300" height="300">
    </div>
    <div class="col-sm-2">
        <li><a href="/media/{{ grb.h5 }}"><u>Download Nested Sampling Samples</u></a></li>
        <li><a href="/media/{{ grb.json_metadata }}"><u>Download Metadata</u></a></li>
        <li><a href="{{ grb.gcn }}"><u>Link To GCN</u></a></li>
    </div>
</div>


<div class="row" style="border-bottom-style: solid; width: 100%;overflow: auto;">
    <div class="column_individual_page_images">
        <div id=sed class="img-container">
            <img src=/media/{{ grb.sed }}  alt="SED" style="width:100%">
        </div>
    </div>
    <div class="column_individual_page_images">
        <div id=corner class="img-container">
            <img src=/media/{{ grb.corner }} alt="corner" style="width:100%">
        </div>
    </div>
</div>

<div class="row" display="flex" style="border-bottom-style: solid; width: 100%; overflow: auto; flex: 2;">
    <div class="column_individual_page_table" width="100%" display="flex-shrink">
        <table border="1" class="display table table-responsive" id="smart_table" width="100%">
            <thead>
                <th colspan="4">
                <h3><br>GRB and Host Properties</h3>
                </th>
            </thead>
            <thead>
                <th>Attribute</th>
                <th>Values</th>
                <th>Telescope</th>
                <th>Ref</th>
            </thead>
            <tbody>

                <tr style="text-align: left;">
                    <td>$$\textrm{GRB Name}$$</td>
                    <td><a href="{% url 'grbs:detail' grb.id %}">$$\textrm{ {{ grb.grb_name }} }$$</a></td>
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>
                <tr style="text-align: left;">
                    <td>$$\textrm{Host RA}$$</td>
                    <td>$$\textrm{ {{ grb.ra_host }} }$$</td>
                    <td>$$\textrm{ {{ grb.tel_pos }} }$$</td>
                    {% if references|length > 0  %}
                        {% for shorthand, urls in references.items %}
                            {% if shorthand == grb.tel_pos_ref %}
                                <td><a href={{urls}}> $$\textrm{ {{grb.tel_pos_ref}} }$$ </a></td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td>$$\textrm{ {{grb.tel_pos_ref}} }$$</td>
                    {% endif %}

                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{Host Dec}$$</td>
                    <td>$$\textrm{ {{ grb.dec_host }} }$$</td>
                    <td>$$\textrm{ {{ grb.tel_pos }} }$$</td>
                    {% if references|length > 0  %}
                        {% for shorthand, urls in references.items %}
                            {% if shorthand == grb.tel_pos_ref %}
                                <td><a href={{urls}}> $$\textrm{ {{grb.tel_pos_ref}} }$$ </a></td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td>$$\textrm{ {{grb.tel_pos_ref}} }$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$z^{*}$$</td>
                    {% if grb.z_err_upper is not None %}
                        <td> \({{grb.z}}^{ + {{ grb.z_err_upper }} }_{ {{ grb.z_err_lower }} }\)</td>
                    {% else %}
                        <td> \({{ grb.z }}\)</td>
                    {% endif %}
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$T_{90}$$</td>
                    <td> \({{ grb.t90 }}\)</td>
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{Fluence} \textrm{ } (10^{-8} \textrm{erg} \times \textrm{cm}^{-2})$$</td>
                    <td> \({{grb.fluence}}^{ + {{ grb.fluence_err_upper }} }_{ {{ grb.fluence_err_lower }} }\)</td>
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{X-Ray Detection}$$</td>
                    <td>$$\textrm{ {{ grb.xray }} }$$</td>
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{Optical Detection}$$</td>
                    <td>$$\textrm{ {{ grb.opt }} }$$</td>
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{Radio Detection}$$</td>
                    <td>$$\textrm{ {{ grb.radio }} }$$</td>
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>

                {% for phot, phot_err, phot_tel, phot_ref, filters, fits_file in phot_zip %}
                    <tr style="text-align: left;">
                        {% if fits_file is not None %}
                            <td>$$ {{filters }} $$<a href="/media/{{ fits_file.fits }}"> $$\textrm{FITS}$$ </a></td>
                        {% else %}
                            <td>$$\textrm{ {{filters}} }$$</td>
                        {% endif %}
                        {% if {{ phot_err }} != 0.0 %}
                            <td> \({{phot}}^{ + {{ phot_err }} }_{ -{{ phot_err }} }\)</td>
                        {% else %}
                            <td> \({{ phot }}\)</td>
                        {% endif %}
                        <td>$$\textrm{ {{phot_tel}} }$$</td>
                        {% if references|length > 0  %}
                            {% for shorthand, urls in references.items %}
                                {% if shorthand == phot_ref %}
                                    <td><a href={{urls}}> $$\textrm{ {{phot_ref}} }$$ </a></td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td>$$\textrm{ {{phot_ref}} }$$</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                <tr style="text-align: left;">
                    <td>$$\textrm{observed spectroscopy}$$</td>
                    <td><a href="/media/{{ grb.spec }}"><u>$$\textrm{Download CSV}$$</u></a></td>
                    <td>$$\textrm{ {{grb.spec_tel}} }$$</td>
                    {% if references|length > 0  %}
                        {% for shorthand, urls in references.items %}
                            {% if shorthand == grb.spec_ref %}
                                <td><a href={{urls}}> $$\textrm{ {{grb.spec_ref}} }$$ </a></td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td>$$\textrm{ {{grb.spec_ref}} }$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{model photometry}$$</td>
                    <td> <a href="/media/{{ grb.mod_phot }}"><u>$$\textrm{Download CSV}$$</u></a></td>
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{model spectroscopy}$$</td>
                    <td> <a href="/media/{{ grb.mod_spec }}"><u>$$\textrm{Download CSV}$$</u></a></td>
                    <td>$$-$$</td>
                    <td>$$-$$</td>
                </tr>
                <thead>
                <th colspan="4">
                <h4>* {{grb.comments}}</h3>
                </th>
            </thead>
           </tbody>
        </table>
        
    </div>
    <div class="column_individual_page_table" width="100%" display="flex-shrink">
        <table border="1" class="display table table-responsive" id="smart_table" width="100%">
            <thead>
                <th colspan="2">
                <h3><br>Stellar Population Properties</h3>
                </th>
            </thead>
            <thead>
                <th>Attribute</th>
                <th>Values</th>
            </thead>
            <tbody>
                <tr style="text-align: left;">
                    <td>$$\textrm{Host Morphology}$$</td>
                    {% if grb.host_morphology is not None %}
                        <td>\(\textrm{ {{grb.host_morphology}} }\)</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{Host Star Formation}$$</td>
                    {% if grb.host_sf is not None %}
                        <td>\(\textrm{ {{grb.host_sf}} }\)</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

              <tr style="text-align: left;">
                    <td>$$\textrm{Offset (arcsec)}$$</td>
                    <td> \({{grb.offset}}^{ + {{ grb.offset_err_upper }} }_{ {{ grb.offset_err_lower }} }\)</td>
                </tr>

              <tr style="text-align: left;">
                    <td>$$\textrm{Offset (kpc)}$$</td>
                    <td> \({{grb.offset_kpc}}^{ + {{ grb.offset_kpc_err_upper }} }_{ {{ grb.offset_kpc_err_lower }} }\)</td>
                </tr>

              <tr style="text-align: left;">
                    <td>$$\textrm{Effective Radius } (r_{e})$$</td>
                    {% if grb.eff_rad is not None %}
                        <td>$${{grb.eff_rad}}$$</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

              <tr style="text-align: left;">
                    <td>$$\textrm{Host Normalized Offset } (\delta R/r_{e})$$</td>
                    {% if grb.hnorm_offset is not None %}
                        <td>$${{grb.hnorm_offset}}$$</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

              <tr style="text-align: left;">
                    <td>$$\textrm{Probability of Chance Coincidence}$$</td>
                    {% if grb.pcc is not None %}
                        <td>$${{grb.pcc}}$$</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{log}(M / M_{\odot})$$</td>
                    {% if grb.mass is not None %}
                        <td>\({{grb.mass}}^{ + {{ grb.mass_err_upper }} }_{ {{ grb.mass_err_lower }} }\)</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$t_{m}$$</td>
                    {% if grb.age is not None %}
                        <td> \({{grb.age}}^{ + {{ grb.age_err_upper }} }_{ {{ grb.age_err_lower }} }\)</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$\textrm{SFR} (M_{\odot} \times yr^{-1})$$</td>
                    {% if grb.sfr is not None %}
                        <td> \({{grb.sfr}}^{ + {{ grb.sfr_err_upper }} }_{ {{ grb.sfr_err_lower }} }\)</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$\log(Z/Z_{\odot})$$</td>
                    {% if grb.logzsol is not None %}
                        <td> \({{grb.logzsol}}^{ + {{ grb.logzsol_err_upper }} }_{ {{ grb.logzsol_err_lower }} }\)</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$\log(Z_{\textrm{GAS}}/Z_{\odot})$$</td>
                    {% if grb.gas_logz is not None %}
                        <td> \({{grb.gas_logz}}^{ + {{ grb.gas_logz_err_upper }} }_{ {{ grb.gas_logz_err_lower }} }\)</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

                <tr style="text-align: left;">
                    <td>$$A_{V}$$</td>
                    {% if grb.dust2 is not None %}
                        <td> \({{grb.dust2}}^{ + {{ grb.dust2_err_upper }} }_{ {{ grb.dust2_err_lower }} }\)</td>
                    {% else %}
                        <td>$$-$$</td>
                    {% endif %}
                </tr>

            </tbody>
        </table>
    </div>

</div>
</main>

<script type="text/javascript">
$(document).ready(function () {
    $("#color").find("img").blowup({
        "width" : 250,
        "height" : 250,
        "round" : false,
        "scale" : 1.0,
        "cursor": false,
        });
})
</script>

<script type="text/javascript">
 $(document).ready(function(){
   $("#sed").find("img").mouseover(function(){
        // Put logic on show
        var tmp = $("#corner").find("img");
        tmp.prop("style", "width:0%");
        this.style.width = '200%';
   }).mouseout(function(){
        // Put logic on hide
        var tmp = $("#corner").find("img");
        tmp.prop("style", "width:100%");
        this.style.width = '100%';
   });
 });
 $(document).ready(function(){
   $("#corner").find("img").mouseover(function(){
        // Put logic on show
        var tmp = $("#sed").find("img");
        tmp.prop("style", "width:0%");
        var column = tmp.parent().parent()
        column.prop("style", "width:100%")
        this.style.width = '200%';
   }).mouseout(function(){
        // Put logic on hide
        var tmp = $("#sed").find("img");
        tmp.prop("style", "width:100%");
        var column = tmp.parent().parent()
        column.prop("style", "width:50%")
        this.style.width = '100%';
   });
 });
</script>

{% endblock %}
